PORT=10000
GLOBAL_PREFIX=api

URL_FRONTEND=http://13.214.122.85:5000
URL=http://13.214.122.85:10000

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=)dDR$bNL{&b4WM-6j*fm;dS~9)#3A9}P
POSTGRES_DB=akc_dev

NETWORK=BSC_TESTNET

