<p>
   Thank you for changing the email with your Databank Application Account ! We need authentication for Email change to be secure.
</p>

<p>
    Please confirm that your new password will be changed by clicking this link: <a href="{{ url }}">{{url}}</a>

</p>

<p>
   If you ignore or delete this email, nothing further will happen.
</p>

<p>
    Thank you for registering.
</p>
