<p>Thank you for registering with Databank Application! We need to verify your email address to finalize your Databank account setup. </p>
<p>Please confirm that {{email}} is your email address by clicking this link: 
<a href="{{ url }}">{{url}}</a>
</p>
<p>If you ignore or delete this email, nothing further will happen and a Databank account will not be created for you.</p>
<p>Thank you!</p>