<p>We have received a request to add change your email in DataBank system! We need to verify your email address is correct. Please confirm that {{email}} is your email address by clicking this link: <a href="{{ url }}">{{url}}</a> </p>

<p>If you ignore or delete this email, your email will not be changed New email will not be  to your personal information in DataBank system. </p>
<p>Thank you!</p>