<p>
    Welcome to Databank Application!
    You've just registered at Databank Application with the following username:
</p>

<p>
    Username: {{email}}
</p>

<p>
    Your account has now been activated. Please click here to login - <a href="{{ linkLogin }}">{{linkLogin}}</a>
</p>

<p>
    Thank you for registering.
</p>
